<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>vbox-web</display-name>
	<listener>
		<description>
		Used to cleanup when a session is destroyed</description>
		<display-name>ZK Session cleaner</display-name>
		<listener-class>com.probridge.vbox.VBoxSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.probridge.vbox.VBoxServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>
	<!-- Automatically detect and load WebSocket support -->
	<listener>
		<listener-class>org.glyptodon.guacamole.net.basic.WebSocketSupportLoader</listener-class>
	</listener>
	<listener>
		<description>
		Used to cleanup when a session is destroyed</description>
		<display-name>ZK Session cleaner</display-name>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.zul</url-pattern>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ExpiresFilter</filter-name>
		<filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
		<init-param>
			<param-name>ExpiresByType image</param-name>
			<param-value>access plus 10 minutes</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType text/css</param-name>
			<param-value>access plus 10 minutes</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType application/javascript</param-name>
			<param-value>access plus 10 minutes</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<resource-ref>
		<description>MySQL DB Connection</description>
		<res-ref-name>jdbc/vbox</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<description>
		The ZK loader for ZUML pages</description>
		<servlet-name>zkLoader</servlet-name>
		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
		<init-param>
			<param-name>update-uri</param-name>
			<param-value>/zkau</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		The asynchronous update engine for ZK</description>
		<servlet-name>auEngine</servlet-name>
		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VMMServlet</display-name>
		<servlet-name>VMMServlet</servlet-name>
		<servlet-class>com.probridge.vbox.VMMServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.probridge.vbox.fileupload.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>servletDispatcher</display-name>
		<servlet-name>DispatchServlet</servlet-name>
		<servlet-class>com.probridge.vbox.DispatchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Tunnel servlet</description>
		<servlet-name>Tunnel</servlet-name>
		<servlet-class>com.probridge.vbox.servlet.RemoteDesktopTunnelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zul</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auEngine</servlet-name>
		<url-pattern>/zkau/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload-servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VMMServlet</servlet-name>
		<url-pattern>/vmm-servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DispatchServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tunnel</servlet-name>
		<url-pattern>/tunnel</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
		<welcome-file>index.zul</welcome-file>
	</welcome-file-list>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/font-woff</mime-type>
	</mime-mapping>
</web-app>